/*  COLORS  */

$primary-orange: darkorange;
$primary-orange-light: rgb(255, 187, 105);

/*  COLORS  */

/*  MARGIN  */

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

/*  MARGIN  */
