/*    IMPORT SCSS     */

@import 'variables';
@import 'media';

/*    IMPORT SCSS     */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* 1 rem = 10 px */
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.main-form {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	padding: 5rem 20rem 0 20rem; // ДЛЯ МОБИЛЬНОГО 10% 10% 10% 10%;
	border: solid $primary-orange 2px;

	input {
		display: block;
		font-size: 2rem;
		width: 100%;
		border: solid black 2px;
		padding: 0.4rem;
		cursor: pointer;
		outline: none;

		&:focus + label,
		&:valid + label {
			transform: translateY(-6.2rem) translateX(1rem);
			color: $primary-orange;
		}
	}

	label {
		transition: 0.3s;
		font-size: 1.8rem;
		color: grey;
		position: absolute;
		transform: translateY(-3rem) translateX(1rem);
		cursor: inherit;
	}

	.button-container {
		display: flex;
		gap: 1rem;
	}

	[class^='btn'] {
		border: solid black 2px;
		padding: 1rem 1rem;
		font-size: 2rem;
	}

	.box-for-sites {
		border: solid $primary-orange 2px;
		font-size: 2rem;
		padding: 1rem 0 1rem 0;
		word-wrap: break-word;
	}

	.button-for-box {
		&-copy {
			margin-right: 1rem;
			margin-bottom: 1rem;
			cursor: pointer;
		}

		&-delete {
			cursor: pointer;
		}
	}

	.attention-message {
		font-size: 2rem;
		text-align: center;
		color: rgb(255, 0, 0);
		margin-bottom: 2rem;
		text-decoration: solid rgb(179, 17, 17) underline;
		text-underline-offset: 6px;
	}

	.saved-sites {
		width: 100%;
		margin: 3rem 0;
		padding: 1.5rem 0.5rem;
		font-size: 2rem;
		// border: solid $primary-orange 2px;
		text-wrap: wrap;
		text-align: center;
	}
}

//
